* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

a {
  color: #ccc;
}

.huddle {
  display: grid;
  grid-template-columns: 1fr;
  background: hsl(257, 40%, 49%) url("/images/bg-mobile.svg") no-repeat center;
  padding: 4em 2em;
}

.logo {
  text-align: left;
}

.logo img {
  width: 40%;
}

.images img {
  width: 100%;
  margin: 3em 0;
}

.register {
  background-color: #fff;
  color: hsl(257, 40%, 49%);
  padding: 1em 4.5em;
  border: none;
  border-radius: 30px;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 1em 0;
}

.register:hover {
  background-color: hsl(257, 40%, 59%);
  color: white;
}

.social {
  margin-top: 3em;
}

.social i {
  color: white;
  border: 1px solid white;
  padding: 0.8em;
  margin: 0.5em;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  vertical-align: middle;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.social i:hover {
  transform: scale(1.04);
}

footer {
  font-size: 0.8rem;
}

@media (min-width: 992px) {
  .huddle {
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    background: hsl(257, 40%, 49%) url("/images/bg-desktop.svg") no-repeat
      center;
  }

  .images img {
    margin: 1.5em 0 0;
  }

  .logo,
  .social,
  footer {
    grid-column: 1 / -1;
  }

  .logo img {
    width: 20%;
  }

  .description {
    text-align: left;
    padding-top: 5em;
  }

  .social {
    text-align: right;
    margin-top: -2em;
  }
}
